<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test 4</title>
</head>
<body>
    {{#navLink "/CPA"}}CPA Students{{/navLink}}
    {{#navLink "/allStudents"}}ALL Students{{/navLink}}
    {{#navLink "/addStudent"}}Add a new student{{/navLink}}
    {{#navLink "/highGPA"}}Highest GPA{{/navLink}}
    {{#navLink "/"}}Home{{/navLink}}
    <hr>
    {{{body}}}
    <hr>
    <h2>Student Honor Pledge</h2>
    <p>I aknowledge Seneca College's academic integrity policy</p>
    <p>On my honour, I have neither or received unauothorized help on this test</p>
    <p>Name: <mark>Artem Pankov</mark></p>
    <p>Student Number: <mark>109060210</mark></p>
</body>
</html>