
<h2>Student List</h2>
<table>
  <tr>
    <th>StudentID</th>
    <th>Name</th>
    <th>Program</th>
    <th>GPA</th>
  </tr>
  {{#each cpastud}}
  <tr>
    <td>{{studId}}</td>
    <td>{{name}}</td>
    <td>{{program}}</td>
    <td>{{gpa}}</td>
  </tr>
  {{/each}}
</table>